<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <base href="/">
    <!-- <base href="/grid/"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>ARTIFACT</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/default-favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link rel="stylesheet" href="style.css">

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

    <link rel="stylesheet" href="//cdn.jsdelivr.net/flexslider/2.2.2/flexslider.css">
    <!-- <script src="//cdn.jsdelivr.net/flexslider/2.2.2/jquery.flexslider-min.js"></script> -->
    <script src="assets/js/jquery.flexslider.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs@1.0.7/release/angular-ui-router.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="assets/js/angular-flexslider.js"></script>
    <!-- <link rel="stylesheet" href="ngGallery.css"> -->
    <!-- 
    <link rel="stylesheet" href="flexslider.css" />
    <link rel="stylesheet" href="demo.css" />

    <script src="jquery.flexslider.js"></script>

    <script src="ngGallery.js"></script> -->
    <script src="app.js"></script>

</head>

<body>
    <div ng-controller="AppCtrl" ng-cloak>
        <md-toolbar class="md-hue-2" hide-gt-sm style="position: fixed; top: 0; z-index: 100;">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft();">
                    <md-icon md-svg-icon="assets/img/menu.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <section layout="row" flex id="main-container">

            <!-- <md-sidenav-container> -->
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="z-index: 999;">
                <md-content layout-padding>
                    <!-- ng-controller="LeftCtrl" -->
                    <!-- 2017-07-20 -->
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="close();">
                        <md-icon md-svg-icon="assets/img/close.svg"></md-icon>
                    </md-button>
                    <h1 class="main-title">ARTIFACT</h1>
                    <h5>NEW YORK</h5>
                    <div style="padding-top:  100px;">
                        <md-list-item ng-click="gotoMain();" ui-sref="gridview" ui-sref-active="active">
                            <!-- <p>Main</p> -->
                            <h5>Main</h5>
                        </md-list-item>
                        <md-list-item ui-sref="contact">
                            <h5>Contact</h5>
                        </md-list-item>
                        <md-list-item ui-sref="about">
                            <h5>About</h5>
                        </md-list-item>
                        <md-list-item ng-click="toggle()">
                            <h5>Filter</h5>
                        </md-list-item>
                        <ul ng-show="isOpen" class="menu-toggle-list" ng-class="{'toggle-active': isOpen}">
                            <li>
                                <md-button class="md-button" aria-label="Settings" ng-click="clearFilter();">
                                    Clear Filter
                                </md-button>
                            </li>
                            <li ng-repeat="filter in filters">
                                <md-checkbox ng-click="selectAllCurCate(filter.id);" ng-checked="checkedItem(filter.id)">
                                    {{filter.cname}}
                                </md-checkbox>
                                <hr>
                                <div layout="row" layout-wrap ng-show="filter.cname!='Category'" class="sub-cate">
                                    <md-checkbox flex="50" ng-repeat="sub_cate in filter.sub" ng-click="selectCurItem(sub_cate.id);" ng-checked="checkedItem(sub_cate.id)">
                                        {{ sub_cate.cname }}
                                    </md-checkbox>
                                </div>
                                <div layout="row" layout-wrap ng-show="filter.cname=='Category'" class="sub-cate">
                                    <md-checkbox flex="100" ng-repeat="sub_cate in filter.sub" ng-click="selectCurItem(sub_cate.id);" ng-checked="checkedItem(sub_cate.id)">
                                        {{ sub_cate.cname }}
                                    </md-checkbox>
                                </div>
                            </li>
                        </ul>
                        <md-list-item ng-click="colToggle()">
                            <h5>Collections</h5>
                        </md-list-item>
                        <ul ng-show="isColOpen" class="menu-toggle-list" ng-class="{'toggle-active': isColOpen}" style="padding-left: 30px;">
                            <li ng-repeat="col_num in col_nums" ui-sref="collection({colNum: col_num.col_num})">
                                <h5>{{col_num.col_num}}</h5>
                            </li>
                        </ul>
                    </div>
                </md-content>
            </md-sidenav>
            <md-content flex>
                <ui-view>

                </ui-view>
                <!-- </md-sidenav-container> -->
            </md-content>
        </section>

    </div>
</body>

</html>