<div id="loader-wrapper" ng-click="seperate();">
    <div class="loader-section section-left">
        <img class="logo-left" src="./pages/logo-left-1.png" />
    </div>
    <div class="loader-section section-right ">
        <img class="logo-right" src="./pages/logo-right-1.png" />
    </div>

</div>
<div layout="row">
    <div layout="row" flex layout-wrap class="item-area">
        <div ng-repeat="item in displayItem">
            <div class="item" ui-sref="detail({itemId: item.id})">
                <img src="{{item.image}}" alt="">
            </div>
            <div class="item_hide display-none" ui-sref="detail({itemId: item.id})">
                <img src="{{item.image}}" alt="">
            </div>
        </div>
    </div>
</div>

<style>
    .loader-section.section-left .logo-left {
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }
    
    .loader-section.section-right .logo-right {
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }
</style>